.home {
  min-height: 100vh;
  background: #1e2024;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 20px;
}

h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.home__cardbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

figure {
  object-fit: cover;
  height: 170px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 15px;
  position: relative;
}

figure:hover {
  transform: scale(1.05);
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  margin-top: -5px;
  padding: 4px;
  font-weight: bold;
  color: gold;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-color: #000;
  width: min-content;
}

[data-dnd-drag-preview] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

[data-dnd-dragging] {
  opacity: 0.5;
}

.not-found {
  font-size: 18px;
  font-weight: 500;
  color: gold;
}


@media (max-width: 380px) {
  .home__cardbox {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}