*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.btn {
  width: 100%;
  height: 51px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #000;
}

.link {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}