.layout {
  display: grid;
  grid-template-columns: 260px repeat(11, minmax(min-content, 1fr));
  grid-template-rows: 64px min-content min-content;
  background-color: #1e2024;
  overflow: hidden;
}

.layout__nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.layout__content {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

.layout__footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

@media (max-width: 1050px) {
  .layout {
    justify-content: center;
  }
}

@media (max-width: 598px) {
  .layout {
    justify-content: center;
  }

  .layout__content {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }
}
